<p>Engine Maker: <%= record.engine_maker %></p>
<p>Piston Reference Number: <%= record.piston_reference_number %></p>
<p>Vehicle: <%= record.vehicle %></p>
<p>Vehicle Indexing: <%= record.vehicle_indexing %></p>
<p>Model Year: <%= record.model_year %></p>
<p>Engine Types: <%= record.engine_types %></p>
<p>Engine Cubic Displacement (cubic cm): <%= record.cubic_displacement %></p>
<p>Fuel: <%= record.fuel %></p>
<p>Engine Compression Ratio: <%= record.compression_ratio %></p>
<p>Engine Power (ps): <%= record.engine_power %></p>
<p>Cylinder Diameter (mm): <%= record.cylinder_diameter %></p>
<p>Piston Compression Height: <%= record.piston_compression_height %></p>
<p>Piston Bowl Diameter (mm): <%= record.piston_bowl_diameter %></p>
<p>Piston Bowl Depth (mm): <%= record.piston_bowl_depth %></p>
<p>Piston Bowl Offset (mm): <%= record.piston_bowl_offset %></p>
<p>Top Land Width (mm): <%= record.top_land_width %></p>
<p>Pin Boss Spacing: <%= record.pin_boss_spacing %></p>
<p>Dome Height (mm): <%= record.dome_height %></p>
<p>Valve Recess Depth (mm): <%= record.valve_recess_depth %></p>
<p>Piston Pin Outside Diameter (mm): <%= record.piston_pin_outside_diameter %></p>
<p>Total Piston Length (mm): <%= record.total_piston_length %></p>
<p>Piston Ring Dimensions: <%= record.piston_ring_dimensions %></p>
<p>Aluminum Piston Cast Numbers: <%= record.aluminum_piston_cast_no %></p>


